:host {
    display: flex;
    height: 100vh;
    background-color: red;

    & > section {
        &.canvas-wrapper {
            width: 100%;
            background-color: #e8eeee;

            canvas {
                width: 100%;
                height: 100%;
            }
        }

        &.info-wrapper {
            min-width: 340px;
            min-height: 340px;
            background-color: #fff;
            box-shadow: -2 0 5px #ddd;
            padding: 24px;
        }
    }
}