<section class="canvas-wrapper">
    <canvas #worldz (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"  (mousemove)="onMouseMove($event)" (click)="onClick($event)"></canvas>
</section>
<section class="info-wrapper">
    <h3>Controls</h3>
    <button mat-button (click)="snapOnGrid = !snapOnGrid">{{!snapOnGrid ? 'Snap On Grid' : 'Don`t Snap On Grid'}}</button>
    <button mat-button (click)="toggleCreateObject()">{{!creatingObject ? 'Create Object' : 'Cancel Creating Object'}}</button>
    <button *ngIf="newObject" mat-button (click)="saveObject()">Save</button>
    <div>
        <button mat-button (click)="showRuler = !showRuler">{{!showRuler ? 'Show Rule' : 'Hide Ruler'}}</button>
        <button mat-button (click)="panning = !panning">{{panning ? 'cancel' : 'panning'}}</button>
        <button mat-button (click)="zoom(true)">Zoom In</button>
        <button mat-button (click)="zoom(false)">Zoom out</button>
    </div>

    <div *ngIf="newObject" class="object-info">
        <div>
            <label>Title</label>
            <input [(ngModel)]="newObject.label"/>
        </div>
        <div>
            <label>Fill Color</label>
            <input [(ngModel)]="newObject.fillColor"/>
        </div>

        <div>
            <label>X</label>
            <input [(ngModel)]="newObject.positionX"/>
        </div>

        <div>
            <label>Y</label>
            <input [(ngModel)]="newObject.positionY"/>
        </div>

        <div>
            <label>Width</label>
            <input [(ngModel)]="newObject.width"/>
        </div>

        <div>
            <label>Height</label>
            <input [(ngModel)]="newObject.height"/>
        </div>
    </div>

    <div *ngIf="world">
        <h3>Scene Objects</h3>
        <mat-list dense class="scene-objects-list">
            <mat-list-item (click)="newObject = item" *ngFor="let item of $any(world).sceneObjects.getValue()">
                {{item.label}}
            </mat-list-item>
        </mat-list>
    </div>
</section>